{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
body %}
<main>
  <div class="container-lg">
    <div class="apparel d-md-flex justify-content-around">
      <a href={{ url_for("apparel") }}>
        <img
          src="static/index/apparel1.png"
          class="img-fluid mt-3"
          id="apparel-img"
        />
      </a>
      <div
        class="content d-flex flex-column mt-2 justify-content-between justify-content-md-around align-items-center"
        style="max-width: 510px"
      >
        <p class="h5 text-center text-md-start px-3 fs-1 text-muted">
          Create Your own
          <span class="text-dark">Apparel Designs</span> in no time
        </p>
        <div class="button mt-2 mt-md-0">
          <a href={{url_for("apparel") }} class="btn btn-dark btn-lg fw-semibold">
            <span>Start Creating now</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-right-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              /></svg
          ></a>
        </div>
      </div>
    </div>
    <div class="bcards d-md-flex flex-row-reverse justify-content-around mt-5">
      <a href={{ url_for("bcards") }}>
        <img
          src="static/index/bcards1.png"
          class="img-fluid mt-3"
          id="bcards-img"
        />
      </a>
      <div
        class="content d-flex flex-column mt-2 justify-content-between justify-content-md-around align-items-center"
        style="max-width: 510px"
      >
        <p class="h5 text-center text-md-start fs-1 px-3 text-muted">
          <span class="text-dark">Business cards</span> in an instant
        </p>
        <div class="button mt-2">
          <a href= {{ url_for("bcards") }} class="btn btn-dark btn-lg fw-semibold">
            <span>Start Creating now</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-right-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              /></svg
          ></a>
        </div>
      </div>
    </div>
    <div class="objects d-md-flex justify-content-around mt-5">
      <a href={{ url_for("objects") }}>
        <img
          src="static/index/objects1.png"
          class="img-fluid mt-3"
          id="objects-img"
        />
      </a>
      <div
        class="content d-flex flex-column mt-2 justify-content-between justify-content-md-around align-items-center"
        style="max-width: 510px"
      >
        <p class="h5 text-center text-md-start fs-1 px-3 text-muted">
          <span class="text-dark">Object</span> mockups in a jiffy!
        </p>
        <div class="button mt-2">
          <a href={{ url_for("objects") }} class="btn btn-dark btn-lg fw-semibold">
            <span>Start Creating now</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-right-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              /></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
